.loader {
    display: none;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    height: 100px;
    margin-top: 40px;
    &.loading {
        display: flex;
    }
    &__bar {
        width: 40px;
        height: 0;
        background-color: #1c3e95;
        margin-left: 20px;
        margin-right: 20px;
        animation: load alternate infinite ease-in-out 666ms;

        &:nth-child(2) {
            animation-delay: 222ms;
        }
        &:last-child {
            animation-delay: 444ms;
        }
    }
}

@keyframes load {
    100% {
        height: 100px;
    }
}
