.burger {
    &__bar {
        @apply 
        relative
        w-5/6 h-0.5
        mx-auto
        bg-primary
        transition-transform
        duration-200
        delay-0
        after:absolute
        after:top-3
        after:left-0
        after:w-full
        after:h-full
        after:bg-primary
        before:absolute
        before:-top-3
        before:left-0
        before:w-full
        before:h-full
        before:bg-primary;
        &::before,
        &::after {
            transition: top 200ms 200ms, transform 200ms;
        };
    }

    &:hover,
    &:focus {
        .burger__bar {
            @apply bg-secondary
            before:bg-secondary
            after:bg-secondary
        }
    }

    &--active .burger__bar {
        @apply
        rotate-45
        transition-transform
        delay-200
        after:top-0
        before:top-0
        after:-rotate-90
        before:-rotate-90;
        &::before,
        &::after {
            transition: top 200ms, transform 200ms 200ms;
        };
    }
}
